@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,600italic,300italic);

/* colour pallete: #F2D89C, #EE7A30, #A84A29, #5A1516, #BE3330 */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 16px/1.4 'Open Sans', Helvetica, Arial, Sans-Serif;
	background: #5A1516 url(./bg.png) center no-repeat;
	background-size: cover;
	min-height: 100%;
	display: flex;
	align-items: center;
}

header.jumbotron {
	margin-top: 10%;
	background: rgba( 39, 35, 37, .9 );
	color: #F2D89C;
	width: 100%;
}

	h1, h2 {
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
		font-weight: 300;
	}

	.icons a {
		font-size: 2.4em;
		border-radius: 100%;
		border: 1px solid #EE7A30;
		width: 1.5em;
		height: 1.5em;
		margin: 1rem;
		display: inline-block;
		color: inherit;
		transition: all 0.4s ease;
	}

		.icons a:hover {
			color: #EE7A30;
			border-color: #A84A29;
		}


