@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,600italic,300italic);

html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #444 url("bg.png") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body > header.jumbotron {
  background: transparent;
  color: #eee;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  background: rgba( 0, 0, 0, 0.4 );
  width: 100%;
}

body > header a {
  color: #eee;
  font-family: "Open Sans", sans-serif;
}

body > header ul {
  margin-top: 2em;
}

body > header ul > li {
  margin: 1em;
}

body > header i::before {
  border: 2px solid #eee;
  border-radius: 100%;
  padding: .4em;
}
