:root {
  /* Palette: Polar Night*/
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  /* Palette: Snow Storm */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  /* Palette: Frost */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  /* Palette: Aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --background: #2e3440;        /* --nord0 */
  --text: #d8dee9;              /* --nord4 */
  --h1-color: #eceff4;          /* --nord6 */
  --comments: #4c566a;          /* --nord3 */
  --link-color: #5e81ac;        /* --nord10 */
  --link-hover-color: #88c0d0;  /* --nord9 */
  --dud-color: #4c566a;         /* --nord3 */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eceff4;        /* --nord6 */
    --text: #4c566a;              /* --nord3 */
    --h1-color: #2e3440;          /* --nord0 */
    --comments: #d8dee9;          /* --nord4 */
    --link-color: #5e81ac;        /* --nord10 */
    --link-hover-color: #88c0d0;  /* --nord9 */
    --dud-color: #d8dee9;         /* --nord4 */
  }
}

html, body {
  min-height: 100vh;
  color: #d8dee9;
  color: var(--text);
}

body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Fira Code', 'Fira Mono', 'Monaco', 'Courier New', monospace;
  background-color: #2e3440;
  background-color: var(--background);
}

header {
  text-align: center;
  margin: auto 0;
}

footer, aside {
  font-size: small;
}

h1 {
  color: #eceff4;
  color: var(--h1-color);
}

a {
  color: #5e81ac;
  color: var(--link-color);
  transition: color 200ms ease-in-out;
}

  a:hover,
  a:focus {
    color: #88c0d0;
    color: var(--link-hover-color);
  }

#version {
  align-self: flex-end;
  color: #4c566a;
  color: var(--comments);
  line-height: 1;
}
  #version a { color: inherit; }
  #version a:hover,
  #version a:focus {
    color: #88c0d0;
    color: var(--link-hover-color);
  }

#footer {
  line-height: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#logo {
  height: 2rem;
  color: var(--comments);
  overflow: visible;
}

.text-scramble .dud {
  color: #4c566a;
  color: var(--dud-color);
}

@media (max-width: 479.9px) {
  header {
    height: 21rem;
  }
  #footer { line-height: 1.6; }
}