<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>William Duyck</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#434c5e" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#434c5e" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap">

    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body
    class="flex h-screen flex-col bg-slate-300 p-4 text-slate-800 transition-colors dark:bg-slate-700 dark:text-slate-200"
  >
    <aside class="shrink-0 text-right">
      <a href="{{{ homepage }}}" aria-label="Site Version / View Source Code" class="font-mono">v{{ version }}</a>
    </aside>

    <header class="container mx-auto flex flex-1 items-center">
      <h1 class="sr-only">William Duyck</h1>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 350" class="hidden md:block">
        <use xlink:href="./imgs/william-duyck.svg#svg" />
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 130" class="block md:hidden">
        <use xlink:href="./imgs/wduyck.svg#svg" />
      </svg>
    </header>

    <footer class="shrink-0">
      <nav class="space-x-4">
        <a href="mailto://hello@wduyck.dev">Email</a>
        <a rel="me" href="https://mastodon.social/@fuzzyfox0">Mastodon</a>
        <a href="https://twitter.com/FuzzyFox0">Twitter</a>
        <a href="https://www.linkedin.com/in/wduyck">LinkedIn</a>
        <a href="https://ghost.wduyck.me">Blog</a>
        <a href="https://github.com/fuzzyfox">Github</a>
        <a href="https://codepen.io/fuzzyfox">Codepen</a>
        <a href="https://www.deviantart.com/fuzzyfox0">DeviantArt</a>
      </nav>
    </footer>
  </body>
</html>
